<div class="container pin-x lg w-4/5 p-center">
  <div class="flex flex-col">
    <div class="flex flex-col">
      <h1 class="text-xll py-2 text-indigo">Startup</h1>
      <div class="lorem-ipsum text-lg my-4">
          <p>Lorem ipsum dolor sit amet, consectetuer</p>
          <p>adipiscing elit.</p>
          <p>Nullam libero nunc, tristique eget, laoreet eu,</p>
          <p>sagittis id, ante.</p>
      </div>
    </div>
    <div class="inline-flex items-baseline">
        <%= link_to  "Sing in", sign_in_path, class: 'text-3xl bg-blue no-underline hover:bg-blue-dark text-white py-2 px-6 rounded-lg' %>
        <h4 class="px-4">OR</h4> 
        <%= link_to  "Register", new_user_path, class: 'text-3xl bg-blue no-underline hover:bg-blue-dark text-white py-2 px-6 rounded-lg  ' %>
    </div>
  </div>
</div>    

