@import 'nav';
@import 'section';
body {
  background: fade-out($gray-200,.5)
}
.body {
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  .body {
    padding-top: 0;
    padding-left: 17rem;
  }
}
