<div class="container h-screen">
    <div class="container lg w-4/5">
      <div class="flex justify-between">
        <div class="flex">
          <h4 class="text-indigo px-2 py-2 m-2 float-left">Startup</h4>
        </div>
        <div class="flex">
            <%= link_to  "Home", root_path, class: "text-blue no-underline px-2 py-2 m-2"%>
            <%= link_to  "About", '#', class: "text-blue no-underline px-2 py-2 m-2"%>
            <%= link_to  "Contacts", '#', class: "text-blue no-underline px-2 py-2 m-2" %>
        </div>
      </div>
    </div>
    <%= yield %>
</div>